*{
	user-select: none;
	text-align: center;
}
.main-wrapper h1 {
	background-color: black;
	color: white;
	font-weight: bold;
	margin-top: 0;
}
.smile {
	width: 40px;
	height: 30px;
}
.container {
	padding: 0px;
	background-color: rgb(240,240,240);
}
.main-container {
	position: relative;
	width: 500px;
	height: 500px;
	z-index : 1;
	margin: 0 auto;
	margin-top: 50px;
}
.info-container {
	width: 400px;
	margin: 10px auto;
	text-align: center;
}
#main-table {
	width: 500px;
	margin: 0 auto;
}
.difficulty {
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
}
.radio-style,.radio-box {
	display: inline-block;
	width: 120px;
	height: 30px;
	line-height: 30px;
	margin: 0 10px;
	font-size: 18px;
	opacity: 0.8;
}
.radio-btn {
	height: 40px;
	margin: 20px 0;
}
#level_btn {
	width: 100px;
	border: 3px solid  #808080;
}
.radio-style:hover {
	opacity: 1;
	font-size: 140%;
}
.bomb_count,.watch {
	display: inline-block;
	background-color: black;
	color: red;
	font-weight: bold;
	width: 90px;
	height: 30px;
	font-size: 24px;
	line-height: 30px;
}
.reset_btn {
	cursor: pointer;
}
table {
	margin: 10px auto;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
.one {
	color: blue;
}
.two {
	color: green;
}
.three {
	color: red;
}
.four {
	color: #000077;
}
.five {
	color: #800000;
}
.six {
	color: #00DD00;
}
.seven {
	color: #FF00FF;
}
.eight {
	color: #FFFF00;
}
td.cell {	
	width:30px;
	height:30px;
	background-color: #C0C0C0;
	border: solid 2px #808080;
}
td.open {
	background-color: rgba(255,255,255,0.6);
	text-decoration: none;
}
td img  {
	width: 25px;
	height: 25px;
	padding: 1px;
}
.restart {
	display: inline-block;
	width: 120px;
	height: 30px;
	line-height: 30px;
	border: 1px solid gray;
	margin-top: 12px;
	background: #FFD700;
	cursor: pointer;
}
.table {
	font-size: 16px;
	vertical-align: middle;
}
tbody tr  {
	cursor: pointer;
}
.table td {
	height: 50px;
	vertical-align: middle;
}
.item-message-top {
	font-size: 20px;
}
.item-message-bottom {
	font-size: 14px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	vertical-align: middle;
}
.switch input {
	display: none;
}
.switch {
  border: solid 1px #ccc;
  display: inline-block;
  height: 40px;
  width: 100px;
  border-radius: 20px;
  overflow: hidden;
}
.switch .on, .switch .off {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 80px;
}
.switch .on {
  background-color: #00f;
  background-image: linear-gradient(
    top,
    hsl(214,90%,40%),
    hsl(214,90%,70%)
    );
  box-shadow:
    3px 2px 10px rgba(0,0,0,.2) inset,
    -3px 2px 10px rgba(0,0,0,.2) inset;
  color: #fff;
  text-shadow: -1px -1px rgba(0,0,0,.3);
}
.switch .off {
  background-color: #eee;
  box-shadow: 5px 5px 10px rgba(0,0,0,.2) inset;
  color: #777;
  text-shadow: 1px 1px #fff;
}
.switch .label {
  margin-left: -60px;
}
.switch :checked + .label {
  margin-left: 0;
}
.switch .label {
  transition: margin .1s;
}
.flag-mode {
	display: flex;
	justify-content: center;
}
.flag-moji {
	display: block;
	margin: 0 20px;
	height: 40px;
	line-height:40px;
}
/* レスポンシブ */
@media screen and (max-width:700px) {
	.info-container {
		width: 350px;
		margin: 0 auto;
	}
	#main-table {
		width: 500px;
		margin: 0 auto;
	}
	.radio-style,.radio-box {
		width: 60px;
		height: 30px;
		line-height: 30px;
		margin: 0 10px 10px;
		font-size: 14px;
		opacity: 0.8;
	}
	.radio-style:hover {
		opacity: 1;
		font-size: 110%;
	}
	.radio-box {
		width: 200px;
	}
	.radio-btn {
		height: 60px;
		margin-bottom: 10px;
	}
	.bomb_count,.watch {
		width: 60px;
		height: 25px;
		line-height: 25px;
		font-size: 18px;
	}
	td.cell {
		width:25px;
		height:25px;
	}
	td img {
		width: 18px;
		height: 18px;
	}
	.restart {
		width: 100px;
	}
	table {
		font-size: 16px;
	}
	.main-container {
		position: relative;
		width: 500px;
		height: 500px;
		margin: 0 auto;
	}
	.col-sm-12,.col-sm-12 .col-xs-12 {
		width: 100%;
		margin: 0 auto;
	}
}
@media screen and (max-width:590px) {
	.col-sm-12 .col-xs-12 {
		padding: 0;
	}
	.radio-btn {
		margin-bottom: 10px;
	}
}